@page
@model one_page_shop.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container" style="padding-top: 20px;">
    <h1>Hello I am Simi</h1>
    <p>actually it's SIMILOLUWA, but let's leave it at that</p>
    <p>I built this from scratch using <a href="https://dotnet.github.io/">dotnet core</a> and </p>
    <p><a href="https://github.com/iamsimi">I code</a>,<a href="http://soloclan.com"> I write</a>, and <a href="/contact.html">I build robots</a></p>

    <p><a href="./Contatct">REACH out if I can be of help or you can be </a></p>

    <p>here are the guidelines to interacting with this project using the pages available:</p>
    <ol>
       <li><strong>Index: </strong> it is the first page that is seen and contains the list of products for sale and the items can be added to cart</li><br/>
        <li><strong>Cart: </strong> after the user has added it to cart, the cart page is navigated to using the top bar and the list of products that were added to the carts are seen and can be removedd
        thereafter the user can clicked the buy button and gett a notification</li><br />
        <li><strong>Admin: </strong> the admin is the controller of the shopping app. 
        To access the page, the user needs to login/register with the email and passowrd:
        The admin page contains link to create, edit and delete products. And make sure to update only pictures of maximum size of 235px and 235px</li><br />
    </ol>

    <p>Thank you..</p>
</div>

