@page
@model IndexModel
@{
    ViewData["Title"] = " Home Page";
}



<div class="row">
    @foreach (var product in Model.Products)
    {
    <form method="post">
        <div class="col-md-4 col-sm-6 col-xs-5 text-center">
            @{var imageUri = "data:image/png;base64," + Convert.ToBase64String(product.ProductImage);}
            <img src="@imageUri" />
            <p>@product.Name </p>
            <p>$ @product.Price</p>
            <button type="submit" class="btnCart" asp-page-handler="cart" asp-route-id="@product.Id">Add to Cart</button>
        </div>
    </form>
      }

    
    </div>

<div>
    <hr/>
    <a asp-page="/Admin/Index" class="btn btn-primary"> + Add new products</a>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {            
            $('.btnCart').on('click', function () {
                alert("item added to cart");
            });
        });
    </script>
}